
header {
    background: #ffffff;
    float: left;
    width: 100%;
    border-bottom: #cccccc solid 5px;
}

footer {
    background: #666666;
    color: #ffffff;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 5px;
    border-top: #4aaaa5 solid 10px;

    /* Making the Footer stick to bottom of page */
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;  */
}

h1 {
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p, label, input, textarea {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 36px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
}

input, textarea {
    padding-left: 20px;
    padding-right: 20px;
    width: 860px;
}

ul {
    font-family: 'Georgia', Times, Times New Roman, serif;;
    font-size: 24px;
    list-style-type: none;
    margin: 20px;
    padding: 0px;
}

li {
    background: #4aaaa5;
    color: #ffffff;
    position: relative;
    /* bottom: 100px;
    padding: 20px 0px 20px 0px; */
    bottom: 50px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

.main-page {
    border: #dddddd solid 3px;
    background: #ffffff;
    margin: auto;
    width: 960px;
    clear: both;    
}

.header-content {
    width: 960px;
    margin: auto;
}

.my-name {
    background: #4aaaa5;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    float: left;
}

.site-map {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #dddddd;
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
}

.top {
    color: #777777;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.page-bkgrnd {
    background-image: url("../images/light-grey-terrazzo.png");
    height: 100%;
    padding-top: 40px;
    padding-bottom: 120px;
    width: 100%;
    clear: both;
}

.project {
    height: 200px;
    width: 300px;
    float: left;
    margin-right: 40px;
    margin-bottom: 60px;
    padding: 0;
}

/* Applying Clearfix Hack to the Portfolio Page */
.clearfix {
    overflow: auto;
 }

#contact-link {
    padding-right: 0px;
}

#pic {
    padding: 30px;
    float: left;
}

#below-about-me, #below-contact, #below-port {
    background: #dddddd;
    height: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#below-port {
    margin-bottom: 40px;
}

#main-page-contact {
    border: #dddddd solid 3px;
    background: #ffffff;
    margin: auto;
    width: 960px;
    clear: both;    
    margin-bottom: 200px;
}

#c-name, #c-email {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#c-message {
    height: 200px;
    margin: 10px 20px 30px 20px;
}

#message-box {
    height: 100%;
} 

#submit {
    color: #ffffff;
    background: #4aaaa5;
    font-size: 16px;
    border: none;
    width: 120px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#port {
    border: #dddddd solid 3px;
    background: #ffffff;
    margin: auto;
    width: 960px;
}
